<div class="container-fluid">

    <h1 class="mt-3"> Blog Post</h1>

    <div class="d-flex justify-content-end me-5">
        <a [routerLink]="['/admin/blogpost/add']" class="btn btn-primary"> Add New Post</a>
    </div>

    <ng-container *ngIf="blogPosts$ | async as blogPost">
    
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Is Visible?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogPosts of blogPost">
                    
                    <td>{{blogPosts.title}}</td>
                    <td>{{blogPosts.shortDescription}}</td>
                    <td>{{blogPosts.isVisible}}</td>

                </tr>
            </tbody>
        </table>

    </ng-container>
    
</div>